.pizza-container {
    display: flex;
    align-items: center;
    height: 60vh;
  }
  
  .pizza-item {
    margin: 10px;
  
    mat-card {
      width: 300px;
    }
  }

  .order-button {
    width: 120px;
    align-items: center;
    margin-top: 10px;
    left: 8.5vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin: 10px;
  }
  
  .order-button:hover,
  .order-button:active {
    background-color: #ad1457; 
  }